/*header*/
header{
	display: flex;
	height: 45px;
}

.spaceX{
	height: 37px;
	width: 300px;
	margin-left: 5px;
}

.search{
	height: 30px;
	width: 30px;
	display: flex;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 20px;
	margin-top: 10px;
}

.settings{
	height: 30px;
	width: 30px;
	display: flex;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 20px;
	margin-top: 10px;
	
}

/*total*/
img{
	margin-left: auto;
	margin-right: auto;
}

h2{
	margin-top: 50px;
}

.total > div >img{
	height: 100px;
	width: 100px;
}

.total{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.globalinfo{
	height: 150px;
	width: 230px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
}

.move{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

/*fuel*/
.flex{
	display: flex;
	justify-content: center;
}

.fuel-container {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/*food*/
.flexy{
		height: 20px;
		width: 100px;
		margin: auto;
		margin-top: 20px;
}

.information{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bread{
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.vegetables{
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.meat{
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.text{
	margin-left: 30px;
}

.food-container {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.usage-container {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/*distance*/
.distance-container{
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/*button*/
.button{
	height: 30px;
	width: 30px;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 5px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: white; 
    color: white; 
    cursor: pointer; 
    padding: 5px; 
    border-radius: 10px; 
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1250px){
/*header*/
	header{
		display: flex;
		height: 45px;
	}
	
	.spaceX{
		height: 37px;
		width: 300px;
	}

	.search{
		height: 30px;
		width: 30px;
		margin-left: 0;
		margin-right: 10px;
		margin-top: 10px;
	}

	.settings{
		height: 30px;
		width: 30px;
		margin-left: 0;
		margin-right: 20px;
		margin-top: 10px;
	}

/*totals*/
	img{
		margin-left: auto;
		margin-right: auto;
	}
	h2{
			margin-top: 50px;
	}

	.total{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.total > div >img{
			height: 100px;
			width: 100px;
	}

	.globalinfo{
		height: 150px;
		width: 230px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	.move{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

/*fuel*/
	.flex{
		display: flex;
		justify-content: center;
	}
	
	.fuel-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*food*/	
	.information{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.flexy{
		height: 20px;
		width: 150px;
		margin: auto;
		margin-top: 20px;
	}

	.bread{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin: 0;
	}

	.vegetables{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin: 0;
	}

	.meat{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin: 0;
	}

	.text{
		margin-left: 30px;
	}
	
	.food-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
	}

	.usage-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*distance*/
	.distance-container{
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*button*/
	.button{
		height: 30px;
		width: 30px;
	}

	#myBtn {
	    display: none; 
	    position: fixed; 
	    bottom: 20px; 
	    right: 5px; 
	    z-index: 99; 
	    border: none; 
	    outline: none; 
	    background-color: white; 
	    color: white; 
	    cursor: pointer; 
	    padding: 5px; 
	    border-radius: 10px; 
	}
} 


/*DESKTOP*/
@media only screen and (min-width: 1250px) and (max-width: 1950px){
/*header*/
	header{
		display: flex;
		height: 45px;
	}

	.spaceX{
		height: 37px;
		width: 300px;
		margin-left: 0;
	}

	.search{
		height: 30px;
		width: 30px;
		margin-left: 0;
		margin-right: 20px;
		margin-top: 10px;
	}

	.settings{
		height: 30px;
		width: 30px;
		margin-left: 0;
		margin-right: 20px;
		margin-top: 10px;
	}

/*totals*/
	img{
		margin-left: auto;
		margin-right: auto;
	}

	h2{
		margin-top: 50px;
	}

	.total{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.total > div >img{
		height: 100px;
		width: 100px;
	}

	.globalinfo{
		height: 200px;
		width: 310px;
		margin-right: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	.move{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

/*fuel*/
	.fuel-container {
			width: 80%;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
	}

/*food*/
	.information{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.flexy{
		display: flex;
		flex-direction: row;
		height: 50px;
		width: 150px;
		margin: auto;
	}

	.bread{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin-top: 20px;
	}

	.vegetables{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin-top: 20px;
	}

	.meat{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin-top: 20px;
	}

	.text{
		margin-left: 30px;
	}

	.food-container {
		width: 90%;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.usage-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*distance*/
	.distance-container{
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*button*/
	#myBtn {
	    display: none; 
	    position: fixed; 
	    bottom: 20px; 
	    right: 20px; 
	    z-index: 99; 
	    border: none; 
	    outline: none; 
	    background-color: white; 
	    color: white; 
	    cursor: pointer; 
	    padding: 15px; 
	    border-radius: 10px; 
	}

	.button{
		height: 50px;
		width: 50px;
	}	
} 

/*GROOT DESKTOP*/
@media only screen and (min-width: 1950px) {
/*header*/
	header{
		display: flex;
		height: 45px;
	}

	.spaceX{
		height: 37px;
		width: 300px;
		margin-left: 0;
	}

	.search{
		height: 30px;
		width: 30px;
		margin-left: 0;
		margin-right: 20px;
		margin-top: 10px;
	}

	.settings{
		height: 30px;
		width: 30px;
		margin-left: 0;
		margin-right: 20px;
		margin-top: 10px;
	}

/*totals*/
	img{
		margin-left: auto;
		margin-right: auto;
	}

	h2{
		margin-top: 50px;
	}

	.total{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.total > div >img{
			height: 100px;
			width: 100px;
	}

	.globalinfo{
		height: 200px;
		width: 310px;
		margin-right: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	.move{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

/*fuel*/
	.fuel-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*food*/
	.information{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.flexy{
		display: flex;
		flex-direction: row;
		height: 50px;
		width: 150px;
		margin: auto;
	}

	.bread{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin-top: 20px;
	}

	.vegetables{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin-top: 20px;
	}

	.meat{
		height: 20px;
		width: 20px;
		border-radius: 20px;
		margin-top: 20px;
	}

	.text{
		margin-left: 30px;
	}

	.food-container {
		width: 80%;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.usage-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*distance*/
	.distance-container{
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

/*button*/
	.button{
		height: 30px;
		width: 30px;
	}

	#myBtn {
	    display: none; 
	    position: fixed; 
	    bottom: 20px; 
	    right: 5px; 
	    z-index: 99; 
	    border: none; 
	    outline: none; 
	    background-color: white; 
	    color: white; 
	    cursor: pointer; 
	    padding: 5px; 
	    border-radius: 10px; 
	} 
} 

