header{
	display: flex;
}

.spaceX{
	height: 37px;
	width: 300px;
	display: flex;
	align-items: flex-start;
}

.search{
	height: 30px;
	width: 30px;
	display: flex;
}

.settings{
	height: 30px;
	width: 30px;
	display: flex;
	
}

img{
	margin-left: auto;
	margin-right: auto;
}

h2{
	margin-top: 50px;
}

p{
	font-size: 15px;
}

.flex{
	display: flex;
	justify-content: center;
}

.total > div >img{
	height: 100px;
	width: 100px;
}

.total{
	display: flex;
	align-items: center;
	flex-direction: column;
}


main > div > div{
	height: 150px;
	width: 230px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
}

.information{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bread{
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.vegetables{
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.meat{
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.text{
	margin-left: 30px;
}

.fuel-container {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.food-container {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.usage-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

.move{
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	margin-top: 20px;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 959px){
	.spaceX{
		height: 37px;
		width: 300px;
	}

	.search{
		height: 30px;
		width: 30px;
	}

	.settings{
		height: 30px;
		width: 30px;
	}

	img{
		margin-left: auto;
		margin-right: auto;
	}

	.total{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	h2{
		margin-top: 50px;
	}

	p{
		font-size: 15px;
	} 

	main > div > div{
		height: 150px;
		width: 230px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	.flex{
		display: flex;
		justify-content: center;
	}
	
	.total > div >img{
		height: 100px;
		width: 100px;
	}

	.total{
		display: flex;
		align-items: center;
		flex-direction: column;
	}


	main > div > div{
		height: 150px;
		width: 230px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	.information{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bread{
		height: 20px;
		width: 20px;
		border-radius: 20px;
	}

	.vegetables{
		height: 20px;
		width: 20px;
		border-radius: 20px;
	}

	.meat{
		height: 20px;
		width: 20px;
		border-radius: 20px;
	}

	.text{
		margin-left: 30px;
	}

	.fuel-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.food-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
	}

	.usage-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.move{
		margin-left: auto;
		margin-right: auto;
		font-size: 15px;
		margin-top: 20px;
	}
} 


/*DESKTOP*/
@media only screen and (min-width: 1250px) and (max-width: 1950px){
	p{
		font-size: 20px;
	}

	main > div > div{
		height: 200px;
		width: 310px;
		margin-right: 50px;
	}

	img{
		margin-left: auto;
		margin-right: auto;
	}

	.total{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.information{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bread{
		height: 20px;
		width: 20px;
		border-radius: 20px;
	}

	.vegetables{
		height: 20px;
		width: 20px;
		border-radius: 20px;
	}

	.meat{
		height: 20px;
		width: 20px;
		border-radius: 20px;
	}

	.text{
		margin-left: 30px;
	}

	.fuel-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.food-container {
		width: 80%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.usage-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.move{
		margin-left: auto;
		margin-right: auto;
		font-size: 15px;
		margin-top: 20px;
	}
	
} 

/*GROOT DESKTOP*/
@media only screen and (min-width: 1950px) {
	.total{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	img{
	margin-left: auto;
	margin-right: auto;
}

	p{
		font-size: 25px;
	}

	main > div > div{
		height: 200px;
		width: 310px;
		margin-right: 50px;
	}

	.fuel-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.food-container {
		width: 80%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.usage-container {
		width: 80%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.move{
		margin-left: auto;
		margin-right: auto;
		font-size: 15px;
		margin-top: 20px;
	}
} 

