@import url('layout.css');
.needle {
    width: 5px;
    height: 100px;
    background: #726DFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 57px;
    top: 10px;
    -webkit-animation:move 5s infinite;
    transform:rotate(0deg);
    transform-origin:bottom;
    margin-top: 450%
}

.container{
	height: 20px;
	width: 20px;
	margin-right: auto;
	margin-left: auto;
}

.info{
	display: flex;
	justify-content: center;
}

@-webkit-keyframes move {
  0% {
    transform: rotate(90deg);
  }
  20% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*PHONE*/
body{
	background-color: #2B2960;
	color: white;
}

header{
	background-color: black;
}

h2{
	font-size: 20px;
}

p{
	font-size: 15px;
}

*{
	font-family: "Mashine";
	margin: 0px;
}

.globalinfo{
	background-color: #726DFF;
}

.bread{
	background-color: #74FFF2;
}

.vegetables{
	background-color: #84ED6E;
}

.meat{
	background-color: #EF5F26;
}

.move{
	font-size: 15px;
}

#myBtn {
    font-size: 18px; /* Increase font size */
}

button>p{
	font-size: 10px;
	color: black;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1250px){
	p{
		font-size: 15px;
	} 

	.move{
		font-size: 15px;
	}

	.needle {
    width: 5px;
    height: 150px;
    background: #726DFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 57px;
    top: 10px;
    -webkit-animation:move 5s infinite;
    transform:rotate(0deg);
    transform-origin:bottom;
    margin-top: 1000%
}

.container{
	height: 20px;
	width: 20px;
	margin-right: auto;
	margin-left: auto;
}
.info{
	display: flex;
	justify-content: center;
}

@-webkit-keyframes move {
  0% {
    transform: rotate(90deg);
  }
  20% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-90deg);
  }

} 

/*DESKTOP*/
@media only screen and (min-width: 1250px) and (max-width: 1950px){
	p{
		font-size: 20px;
	}

	.move{
		font-size: 20px;
	}

	.needle {
    width: 5px;
    height: 250px;
    background: #726DFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 57px;
    top: 10px;
    -webkit-animation:move 5s infinite;
    transform:rotate(0deg);
    transform-origin:bottom;
    margin-top: 1500%;
}

.container{
	height: 20px;
	width: 20px;
	margin-right: auto;
	margin-left: auto;
}
.info{
	display: flex;
	justify-content: center;
}

@-webkit-keyframes move {
  0% {
    transform: rotate(90deg);
  }
  20% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-90deg);
  }
} 

/*GROOT DESKTOP*/
@media only screen and (min-width: 1950px){
	p{
		font-size: 25px;
	}

	.move{
		font-size: 20px;
	}

	.needle {
    width: 5px;
    height: 100px;
    background: #726DFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 57px;
    top: 10px;
    -webkit-animation:move 5s infinite;
    transform:rotate(0deg);
    transform-origin:bottom;
    margin-top: 2000%;
}

.container{
	height: 20px;
	width: 20px;
	margin-right: auto;
	margin-left: auto;
}
.info{
	display: flex;
	justify-content: center;
}

@-webkit-keyframes move {
  0% {
    transform: rotate(90deg);
  }
  20% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-90deg);
  }
} 