@import url('layout.css');

/*PHONE*/
*{
	font-family: "Mashine";
	margin: 0px;
}

body{
	background-color: #2B2960;
	color: white;
}

header{
	background-color: black;
}

h2{
	font-size: 20px;
}

p{
	font-size: 15px;
}

.globalinfo{
	background-color: #726DFF;
}

.bread{
	background-color: #74FFF2;
}

.vegetables{
	background-color: #84ED6E;
}

.meat{
	background-color: #EF5F26;
}

.move{
	font-size: 15px;
}

#myBtn {
    font-size: 18px; /* Increase font size */
}

button>p{
	font-size: 10px;
	color: black;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 959px){
	p{
		font-size: 15px;
	} 

	.move{
		font-size: 15px;
	}
} 

/*DESKTOP*/
@media only screen and (min-width: 1250px) and (max-width: 1950px){
	p{
		font-size: 20px;
	}

	.move{
		font-size: 20px;
	}
} 

/*GROOT DESKTOP*/
@media only screen and (min-width: 1950px){
	p{
		font-size: 25px;
	}

	.move{
		font-size: 20px;
	}
} 